* {
  margin: 0;
}
body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}
.btn-primary {
  color: #fff;
  font-size: 20px;
  border-radius: 8px;
  background: #e55473;
  display: inline-flex;
  padding: 18px 31px;
  align-items: flex-start;
  gap: 10px;
  border: 0;
}
header {
  background-color: rgba(229, 84, 115, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 200px 0 200px;
}
.header-title {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
}
.description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 32px 0;
  text-align: center;
}

.head-flower {
  width: 635px;
  height: 800px;
  margin-left: 97px;
}

.section-main {
  margin: 128px 240px 0px 240px;
}
.section-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.featured-flowers {
  text-align: center;
}
.section-main > .pink-flower-tree {
  display: flex;
  gap: 24px;
}
.flower1 {
  background-color: rgba(167, 33, 98, 0.15);
  border-radius: 300px 300px 0px 0px;
  width: 310px;
  height: 428px;
  padding: 100px 70px 0;
}
.flower2 {
  background-color: rgba(5, 151, 160, 0.15);
  border-radius: 300px 300px 0px 0px;
  width: 370px;
  height: 370px;
  padding: 110px 45px 50px;
  margin-bottom: 32px;
}
.flower3 {
  background-color: rgba(71, 125, 17, 0.15);
  border-radius: 300px 300px 0px 0px;
  width: 314px;
  height: 471px;
  padding: 60px 75px 0;
  margin-bottom: 32px;
}

div > a {
  display: block;
  color: #272727;
  font-weight: 800;
  font-size: 24px;
  text-align: center;
}
.about-support {
  display: inline-flex;
  text-align: center;
  gap: 190px;
  background: rgba(39, 39, 39, 0.05);
  padding: 86px 175px;
  border-radius: 8px;
}
.hot-deal {
  display: flex;
  justify-content: space-evenly;
  margin: 128px 0;
  background-color: rgba(229, 84, 115, 0.05);
  padding: 100px 0;
  align-items: center;
}
.hot-deal-left {
  text-align: center;
}
.instagram-image {
  display: flex;
  gap: 24px;
}
.get-the-deal {
  text-align: center;
  background-image: url("../Flower Asset/Rectangle 9.png");
  width: 1440px;
  height: 449px;
  border-radius: 8px;
  padding: 60px 0;
  background-repeat: no-repeat;
}

input {
  border-radius: 8px;
  padding: 22px 510px 22px 22px;
  border: 0;
  margin-right: 16px;
}
.deals-email-sub {
  margin: 48px 0;
}

.span-shop {
  color: #e55473;
}
.span-flower {
  color: #fff;
}
footer {
  background-color: #111010;
  padding: 128px;
}
.footer-description {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 24px 0 32px 0;
}
.copyright {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
}
