* {
  margin: 0;
}
body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}

header {
  background-color: rgba(229, 84, 115, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 200px 0 200px;
}
.header-title {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
}
.header-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 32px 0;
}
.btn-primary {
  border-radius: 8px;
  background: #e55473;
  display: inline-flex;
  padding: 20px 43px;
  align-items: flex-start;
  gap: 10px;
  border: 0;
}
.head-flower {
  width: 635px;
  height: 800px;
  margin-left: 97px;
}
